
on:
  push:
    branches:
      - master
      - release
      - develop
      - 'feature/**'

jobs:
  determine-env:
    name: Determine Environment
    runs-on: ubuntu-latest
    outputs:
      target_env: ${{ steps.set-env.outputs.target_env }}
    steps:
      - id: set-env
        run: |
          # 1. Check if a manual override was provided via workflow_dispatch
          # 2. Otherwise, map the branch name to the environment
          if [[ "${{ github.event.inputs.force_env }}" != "" ]]; then
            ENV="${{ github.event.inputs.force_env }}"
          elif [[ $GITHUB_REF_NAME == feature/* ]]; then
            ENV="development"
          elif [[ $GITHUB_REF_NAME == "develop" ]]; then
            ENV="staging"
          elif [[ $GITHUB_REF_NAME == "release" ]]; then
            ENV="release"
          elif [[ $GITHUB_REF_NAME == "master" ]]; then
            ENV="production"
          else
            echo "target_env=development" >> $GITHUB_OUTPUT
          fi

  deploy:
    name: Deploy to Environment
    needs: determine-env
    runs-on: ubuntu-latest
    environment: ${{ needs.determine-env.outputs.target_env }}
    
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

  production-call:
    needs: detect-env
    if: needs.detect-env.outputs.env_name == 'production'
    uses: ./.github/workflows/production.yaml
    secrets: inherit
