name: CI/CD Deployment Pipeline

on:
  push:
    branches:
      - master
      - release
      - develop
      - 'feature/**'

jobs:
  determine-env:
    name: Determine Environment
    runs-on: ubuntu-latest
    outputs:
      target_env: ${{ steps.set-env.outputs.target_env }}
    steps:
      - id: set-env
        run: |
          if [[ "${{ github.ref }}" == "refs/heads/master" ]]; then
            echo "target_env=production" >> $GITHUB_OUTPUT
          elif [[ "${{ github.ref }}" == "refs/heads/release" ]]; then
            echo "target_env=release" >> $GITHUB_OUTPUT
          elif [[ "${{ github.ref }}" == "refs/heads/develop" ]]; then
            echo "target_env=staging" >> $GITHUB_OUTPUT
          else
            echo "target_env=development" >> $GITHUB_OUTPUT
          fi

  deploy:
    name: Call Environment Workflow
    needs: determine-env
    # This dynamically calls .github/workflows/{env}.yaml
    uses: ./.github/workflows/${{ needs.determine-env.outputs.target_env }}.yaml
    secrets: inherit # Pass secrets to the sub-workflow if needed