name: CI/CD Deployment Pipeline

on:
  push:
    branches:
      - master
      - release
      - develop
      - 'feature/**'

jobs:
  determine-env:
    name: Determine Environment
    runs-on: ubuntu-latest
    outputs:
      target_env: ${{ steps.set-env.outputs.target_env }}
    steps:
      - id: set-env
        run: |
          if [[ "${{ github.ref }}" == "refs/heads/master" ]]; then
            echo "target_env=production" >> $GITHUB_OUTPUT
          elif [[ "${{ github.ref }}" == "refs/heads/release" ]]; then
            echo "target_env=release" >> $GITHUB_OUTPUT
          elif [[ "${{ github.ref }}" == "refs/heads/develop" ]]; then
            echo "target_env=staging" >> $GITHUB_OUTPUT
          else
            echo "target_env=development" >> $GITHUB_OUTPUT
          fi

  # --- Deployment Jobs ---

  deploy-production:
    needs: determine-env
    if: needs.determine-env.outputs.target_env == 'production'
    uses: ./.github/workflows/production.yaml
    secrets: inherit

  deploy-release:
    needs: determine-env
    if: needs.determine-env.outputs.target_env == 'release'
    uses: ./.github/workflows/release.yaml
    secrets: inherit

  deploy-staging:
    needs: determine-env
    if: needs.determine-env.outputs.target_env == 'staging'
    uses: ./.github/workflows/staging.yaml
    secrets: inherit

  deploy-development:
    needs: determine-env
    if: needs.determine-env.outputs.target_env == 'development'
    uses: ./.github/workflows/development.yaml
    secrets: inherit