# .github/workflows/production.yaml
on:
  workflow_call:

jobs:
  confirm:
    runs-on: ubuntu-latest
    steps:
      - name: Confirm
        run: echo "Development deployment confirmed."
    environment: development
