on:
  workflow_call:

jobs:
  confirm:
    runs-on: ubuntu-latest
    steps:
      - name: job
        run: echo "Production deployment confirmed."

      - name: Confirm
        run: echo "Production deployment confirmed."

    environment: production