on:
  workflow_call:

jobs:
  confirm:
    runs-on: ubuntu-latest
    steps:
      - name: job
        run: echo "Release deployment confirmed."

      - name: Confirm
        run: echo "Release deployment confirmed."

    environment: release